#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}
#header ul{
    display: flex;
    list-style: none;
}
#header li{
    margin-left: 10px;
}
