#header {
    position: fixed;
    /* left: 50%;
    transform: translate(-50%, 0); */
    text-decoration: none;
    font-size: 20px;
}

#header ul{
    display: flex;
    list-style: none;
}
#header li a{
    margin-left: 10px;
    text-decoration: none;
    transition: transform 0.5;
}
#header li a:link{
    color: rgb(0, 0, 0);
    

}
#header li a:hover {
    font-weight: bold;
    border-bottom: solid 1px cyan;
    transform: scale(1.5);
}
#header li a:visited {
    
    color: rgb(255, 255, 255);
}