#section-soft-skills ul li {
    margin: 20px;
}

#section-soft-skills h1 {
    text-align: center;
    margin-top: 20px;

}

.ul-soft-skills {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}