
#section-pj h1{
    margin-left: 5%;
}
#container-pj ul li{
    margin-top: 2%;
    list-style: none;
}
.ul-pj{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5%;
}

.img-pj,.ul-pj li{
    width: 400px;
    border-radius: 25px;
}
.img-pj:hover{
    outline: 3px solid rgb(81, 255, 0);
    outline-offset: -3px;
    filter: brightness(75%)
}
