#container-pj ul li{
    list-style: none;
    margin:20px;
}

#section-pj h1{
    text-align: center;
    margin-top: 20px;

}
.ul-pj{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}

.img-pj,.ul-pj li{
    max-width: 400px;
    border-radius: 25px;
}
.img-pj:hover{
    outline: 3px solid rgb(81, 255, 0);
    outline-offset: -3px;
    filter: brightness(75%)
}
