#section-sobremim{
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;


}
.sobremim{
    /* padding: 4% 0; */
    max-width: 50%;
    gap: 5%;
}

.dados-perfil{
text-align: center;
}
 .img-sobremim{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

/* Social */
.Redes-sociais{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.Redes-sociais img{
    width: 50px !important;
    height: 50px !important;
    margin-right: 10px;
}