#section-sobremim{
display: flex;
justify-content: space-evenly;
padding: 50px 0;

}
.sobremim{
    padding: 4% 0;
    max-width: 50%;
    gap: 5%;
    
}

.dados-perfil{
text-align: center;
}
 .img-sobremim{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 100%;
}
hr{
    align-self:center;
    border-color: rgba(0, 168, 168, 0.87) ;
}

.Redes-sociais{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.Redes-sociais img{
    width: 50px !important;
    height: 50px !important;
    margin-right: 10px;
}