.section-sobremim{
    padding-top: 50px;
    display: flex;
    justify-content: center;

}
.sobremim{
    max-width: 60%;
}


 .img-sobremim{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}
.dados-perfil {
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-evenly;
}

/* Social  linkedin github cv*/
.Redes-sociais{
    margin-top: 20px;
    display: flex;
    justify-content: cent;
}
.Redes-sociais img{
    width: 50px !important;
    height: 50px !important;
}
.social-box{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.social-box img{
    margin-right: 10px;
}