
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #D9D9D9;
  --primary-color-dark: #d23141;
  --primary-color-light: #f4e5ec;
  --text-dark: #2D2C2C;
  --text-light: #64748b;
  --extra-light: #f8fafc;
  --white: #ffffff;
  --max-width-1760: 70%;
  --max-width-1200: 1200px;
  --max-width-900: 900px;
  --header-font: "Playfair Display", serif;
}
/* Estilo da barra de scroll para navegadores baseados em WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px; /* Largura reduzida da barra de scroll */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #8b5cf6;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c3aed;
}

/* Estilo da barra de scroll para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #8b5cf6 transparent;
}