 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 00;
/* 
  color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #f0f0f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  width: 100%;
  height: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}